<!DOCTYPE html>
<html>
<head>
  <title>Git Health Check</title>

  <style type="text/css">
      html {
      }

      body {
          background: none repeat scroll 0 0 #FFFFFF;
          color: #000000;
          font-family: tahoma, verdana, arial, sans-serif;
          font-size: 80%;
          line-height: 1.5em;
          margin: 10px;
          padding: 0;
      }

      a {
          color: #0254D0;
          text-decoration: none;
      }

      h1, h2, h3 {
          color: #000000;
          letter-spacing: 0;
      }

      h1 {
          font-size: 24px;
      }

      h2 {
          font-size: 20px;
          margin: 10px 27px 15px 0;
          padding: 20px 0 2px;
      }

      h3 {
          font-size: 16px;
          padding: 0 0 0 20px;
      }

      #history {
          padding: 0 0 0 30px;
      }

      #working-copy {
          padding: 0 0 0 30px;
      }
  </style>
</head>
<body>
<h1>Git Health Check Report Summary for <%= @repository %></h1>

<hr>

<div id="packfile-stats">
  <h2>Packfile Statistics</h2>
  <ul>
    <li><strong>Number of <a href="http://git-scm.com/book/en/Git-Internals-Git-Objects">objects</a> in
      pack:</strong> <%= @packfile.pack_count[0] %></li>

    <li><strong>Total packfile size: </strong>
      <% size = @packfile.size_of_pack[0].to_f %>
      <% if size >= 1048576 %>
          <%= (size / 1048576).round 2 %> GB
      <% elsif size >= 1024 %>
          <%= (size / 1024).round 2 %> MB
      <% else %>
          <%= size.round 2 %> kB
      <% end %>
    </li>
  </ul>
</div>

<div id="repository-size">

  <h2>Repository Size</h2>

  <h3>Working Copy</h3>

  <div id="working-copy">

    <h4>Description</h4>

    <p>This metric inspects your repository's working copy using
      <a href="http://www.kernel.org/pub/software/scm/git/docs/git-ls-files.html">git ls-files</a> to identify the
      <em>n</em> (default 10) largest files - and consequently the <strong>largest objects</strong>.</p>

    <p>In some cases the same object hash will be displayed for multiple paths. <strong>This is not a bug.</strong>
      The way git stores <a href="http://git-scm.com/book/en/Git-Internals-Git-Objects">blob objects</a> - i.e. bytes on
      the filesystem that could be anything (e.g. a text file, source code, an image) - means that if you have
      <em>exactly</em> the same file in multiple places in your repository - perhaps a static test file - then the
      report will correctly output <em>all the paths on the filesystem where the object is referenced</em>.</p>

    <h4>Statistics</h4>

    <p><%= @working_copy %></p>

  </div>

  <br>

  <h3>History</h3>

  <div id="history">

    <h4>Description</h4>

    <p>This metric thoroughly inspects your repository's history and identifies the largest files over a configurable
      threshold (defaults at 0.5 MB) that have been committed in the past <strong>but are no longer part of the working
      copy</strong>.</p>

    <h4>Statistics</h4>

    <p><%= @history %></p>
  </div>
</div>

</body>
</html>
